/*font-family: 'Sniglet', cursive;
font-family: 'Indie Flower', cursive;
font-family: 'Lobster', cursive;*/

body {
  color:#414b56;
  font-family: Sniglet;
  margin: 0;
}



.contact {
  margin-left: auto;
  margin-right: auto;
  display: block;

}



h1, h2, h3 {
  font-family: 'Lobster', cursive;
}

h2 {
  font-size:2.5em;
}

h3 {
  font-size: 1.25em;
}

header {
  text-align: center;
}


li#lower {
  margin-top: 7%
}

#lowest {
  margin-top:14%
}





li:hover {
  font-size: 1.2em;
}


.backgroundimage {

    background-image: url(rain.png);
   /* opacity: 0.5;*/
    background-position: repeat right top;
    background-size: 10%;
    background-color: rgba(255,255,255,0.5);
        background-blend-mode: lighten;

}


.numbers { margin: 0px auto; 


}
 
 h1 {
 	 text-align: center 
 }


.centerTable { margin: 0px auto; }



thead {

	font-family: 'Lobster', cursive; color: #414b56; 
}


img {
	width: 100%;
	display: block;
	float: center;
	margin: 1.66%
}


	


h1 {
	font-family: 'Lobster', cursive; color: #414b56; 
	font-weight: 700;
	font-size: 5em;
	text-decoration: underline;
}


h2 {
	font-family: 'Lobster', cursive; color: #414b56; 
}



h3 {
	font-family: 'Sniglet', sans-serif; color: black;
	
	
}

.indie {font-family: 'Indie Flower', sans-serif; color: black;
}


div {text-align: center;

}
